<ion-view view-title="Sign-In" name="login-view">
  <ion-content class="padding">
    
    <!-- <form ng-submit="newPost()">
      <label>New Post:</label>
      <textarea ng-model="postData.text"></textarea>
      <button type="submit" class="button button-positive button-block">Create</button>
    </form> -->

    <form ng-submit="submit()">
      <input ng-model="user.username" type="text" name="user" placeholder="Username" />
      <input ng-model="user.password" type="password" name="pass" placeholder="Password" />
      <input type="submit" value="Login" />
    </form>


  </ion-content>
</ion-view>